.jumbo-section {
    background-image: url(assets/cinema.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.btn-outline-secondary {
    background-color: #cc0000;
    color: white;
}

.footer {
    background-color: #cc0000;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
}

i {
    padding: 10px;
}

#search-row {
    margin: 2%;
}